<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <title>Forum Main Page</title>
    <link rel="stylesheet" href="/src/css/style.css">
    <link rel="stylesheet" href="/src/css/forum-index-styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/topic">Темы</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section class="forum-main">
            <h1>Добро пожаловать на форум</h1>
            <p>Смотрите и общайтесь на разные темы!</p>

        </section>
    </main>

    <footer>
        <p>© 2023 8chan. Все права защищены.</p>
    </footer>
</body>
</html>