<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum Topic</title>
    <link rel="stylesheet" href="/src/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/topics">темы</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <section class="topic-content">
            <h1>Заголовок</h1>
            <div class="topic-details">
                <p>Автор: Роман Попов</p>
                <p>Дата: 1 января, 2023</p>
            </div>
            <div class="topic-body">
                <p>Сообщение</p>

            </div>
        </section>
    </main>

    <footer>
        <p>© 2023 8chan. Все права защищены.</p>
    </footer>
</body>

</html>