<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Предложить новость</title>
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="src/css/create_topic_style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/topics">Темы</a></li>
                <li class="profile-nav"><a href="/profile">Профиль</a></li>
                <li class="topic-nav"><a href="/create_topic">Создать тему</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h1>Создать топик</h1>
            <form action="/create_topic" id="topicForm" method="post">
                <label for="title">Название:</label>
                <input type="text" id="title" name="title" required><br>

                <label for="message">Содержание топика:</label>
                <textarea id="message" name="message" rows="4" required></textarea><br>

                <input type="submit" value="Предложить">
            </form>
        </section>
    </main>

    <footer>
        <p>© 2023 8chan. Все права защищены.</p>
    </footer>
</body>
<script src="../src/js/create_topic.js"></script>

</html>