<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum Topic</title>
    <link rel="stylesheet" href="src/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/topics">Темы</a></li>
                <li class="profile-nav"><a href="/profile">Профиль</a></li>
            </ul>
        </nav>
    </header>



    <main>
        <div id="app"></div>
    </main>


    <footer>
        <p>© 2023 8chan. Все права защищены.</p>
    </footer>
</body>
<script src="../src/js/topics.js"></script>

</html>