<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="src/css/forum-index-style.css">
    <link rel="stylesheet" href="src/css/user.css">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/topics">Темы</a></li>
                <li class="profile-nav"><a href="/profile">Профиль</a></li>
            </ul>
        </nav>
    </header>
    <div class="name"></div>
    <div class="alert-message"></div>
    <button class="btn-exit">Выйти</button>
    <footer>
        <p>© 2023 8chan. Все права защищены.</p>
    </footer>
</body>
<script src="../src/js/user.js"></script>

</html>